.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //justify-content: flex-start;
}
.mat-card {
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  margin: 10px;
}
.image {
  max-width: 300px;
  max-height: 180px;
}
.button {
  margin-right: 5px;
}
