<div class="container">
  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img class="image" mat-card-image src="{{product.image}}"/>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>Price: {{product.price | currency: "EUR"}}</p>
      <p>Year: {{product.year}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Add to cart</button>
      <button class="button" mat-flat-button color="primary" [routerLink]="['/product',product.id]" >Details</button>
    </mat-card-actions>
  </mat-card>


</div>
