<mat-card class="example-card">
  <mat-card-title>{{product.title}}</mat-card-title>
  <img class="image" mat-card-image src="{{product.image}}"/>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <p>Price: {{product.price | currency: "EUR"}}</p>
    <p>Year: {{product.year}}</p>
    <p>Chip: {{product.configure.chip}}</p>
    <p>Display: {{product.configure.display}}</p>
    <p>Memory: {{product.configure.memory}}</p>
    <p>SSD: {{product.configure.SSD}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="button" mat-flat-button color="primary">Add to cart</button>
    <button class="button" mat-flat-button color="primary" [routerLink]="['/product',product.id]" >Details</button>
  </mat-card-actions>
</mat-card>
