<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px">home</mat-icon>
      <span>Online shop</span>
    </div>

    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">Home</button>
      <button class="toolbar button" mat-flat-button routerLink="products">Products</button>
      <button class="toolbar button" mat-flat-button routerLink="basket">Cart</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>




